name: Java CI with Maven

on:
  workflow_dispatch: # 允许手动点按钮启动
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      artifact-id: ${{ steps.upload-artifact.outputs.artifact-id }}
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
        fetch-tags: true
        fetch-depth: 1
        ref: ${{ github.ref }}

    - name: Git setup
      run: |
        git config --global user.email olauncher@example.com
        git config --global user.name olauncher

    - name: Set up JDK 11
      uses: actions/setup-java@v4
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: maven
    
    - name: Set up OLauncher
      run: |
        bash decompile.sh
        bash init.sh
             
        # 2. 放宽 git am 检查
        sed -i 's/git am/git am --ignore-whitespace/g' applyPatches.sh
        
        # 3. 应用剩余补丁
        bash applyPatches.sh
        
        # === 4. 自定义修改：强制替换窗口标题 ===
        # 这里的 "My Custom Launcher" 可以改成你想要的名字
        # 注意：Main.java 控制加载窗口，SwingUserInterface.java 控制主窗口
        
        echo "Modifying window title..."
        sed -i 's/setTitle(.*);/setTitle("Minecraft Launcher");/g' src/main/java/net/minecraft/launcher/Main.java
        sed -i 's/setTitle(.*);/setTitle("Minecraft Launcher");/g' src/main/java/net/minecraft/launcher/SwingUserInterface.java

    - name: Build with Maven
      run: mvn --batch-mode --update-snapshots verify

    - name: Generate redistributable
      run: bash genredist.sh

    - name: Upload redistributable
      uses: actions/upload-artifact@v4
      id: upload-artifact
      with:
        name: OLauncher Redistributable JAR
        path: olauncher-*-redist.jar

  draft-release:
    if: ${{ github.ref_type == 'tag' }}
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Download redistributable jar
        uses: actions/download-artifact@v4
        id: download-artifact
        with:
          artifact-ids: ${{ needs.build.outputs.artifact-id }}
          merge-multiple: true
          path: redist
      - name: Create release draft with redistributable
        env:
          RELEASE_TAG: ${{ github.ref_name }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GH_REPO: ${{ github.repository }}
          ARTIFACT_PATH: ${{ steps.download-artifact.outputs.download-path }}
        run: gh release create "$RELEASE_TAG" --draft --verify-tag --title "$RELEASE_TAG" "$ARTIFACT_PATH"/*.jar
